$color-primary: #f75b56;
$color-secondary: #f4746f;
$color-primary-dark: #226174;
$color-primary-light: rgb(157, 158, 160);
$color-primary-exLight:rgb(230, 230, 230);
$color-primary-lightest: #f2f4f5;
$color-primary-transparency: rgba(71, 98, 254, 0.1);
